.navbar {
  border-bottom: 1px solid #eee;
  background: #fff;
  font-family: Arial, sans-serif;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 60px;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 30px;
}


.hamburger {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.hamburger span {
  width: 18px;
  height: 2px;
  background: #333;
}


.menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-item {
  padding: 18px 12px;
  font-size: 14px;
  cursor: pointer;
  color: #333;
}

.menu-item.active {
  color: red;
  border-bottom: 2px solid red;
  font-weight: 600;
}


.date {
  font-size: 13px;
  color: gray;
}


.navbar-bottom {
  background: #fafafa;
  padding: 10px 40px;
  border-top: 1px solid #eee;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.tag {
  cursor: pointer;
  color: #333;
}

.dot {
  margin: 0 8px;
  color: #ccc;
}